
       body {
            font-family:Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", "serif";
           
			margin: 0;
			padding: 0;
			
		
        }
		header,nav,main,footer{
			width: 1300px;
			margin: 0 auto;
			padding: 30px;	
		}

        header {
            text-align: center;
            background-color: #248D48;
            color: #fff;
            padding: 20px 0;
            height: 50px;
        }

        nav {
            text-align: center;
            background-color: #4ABB9B;
            padding:10px 0;
            height: 60px;
            
        }

        nav ul {
            list-style: none;
            margin: 0;
            padding: 0;
        }

        nav li {
            display: inline;
            margin: 0 40px;
            list-style-type: none;
            vertical-align: -20px;
            
        }
    footer{
    text-align: center;
            background-color: #2B7D91;
            color: #fff;
            padding: 20px 0;
            height: 50px;
}
    a:hover {
        background-color: #2B7D91;
        color: #fff;
        padding: 5px;
    
}

    nav ul li a{
        text-decoration: none;
        border-radius: 70px;
}
audio, iframe {
    display: block;
    margin: 10px auto;
}
video{
    width: 60%;
    height: auto;
    display: block;
    margin: 10px auto;
}

        main {
            padding: 20px;
        }

        h2 {
            font-size: 24px;
            color: #FFFFFF;
        }

        p {
            font-size: 16px;
            line-height: 1.5;
            color: #FFFFFF;
        }
		section{
			width: 700px;
			margin: 40px auto;
			background-color: #2B7D91;
			padding: 30px
		}
		
form{
	width: 50%;
	background-color: #7DAA53;
	color: #272727;
	margin: 30px auto;
	padding: 30px;
}
input[type="text"]{
	width: 100%;
	margin: 10px 0px;
	background-color: #293C04;
	color: aliceblue;
	padding: 5px;
}
label{
	font-weight: bolder;
}
.salto_linea{
	display: block;
	margin: 10px 0px;
}
input[type="submit"]{
	width: 20%;
	background-color: #293C04;
	color: aliceblue;
	font-weight:  bolder;
	margin: 10px auto;
	border: #6495ED;
	
}
input[type="reset"]{
	width: 20%;
	background-color: #293C04;
	color:aliceblue;
	font-weight: bolder;
	margin: 10px auto;
	border: #6495ED;
	
}
select{
	margin: 10px 0px;
	width: 80%;
	background-color: #293C04;
	color: aliceblue;
	padding: 5px;
}

